name: CI
on:
  push:        
    paths:
    - 'Lambda/*'
    - 'template.yaml'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install  pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi          
      

      
      - uses: actions/checkout@v1
      - uses: falnyr/aws-sam-deploy-action@v1.0.0
        env:
          TEMPLATE: 'template.yaml'
          AWS_STACK_NAME: resumechallengebackend
          AWS_REGION: 'us-east-1'
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEPLOY_BUCKET: ${{ secrets.AWS_DEPLOY_BUCKET }}
